
@import 'reset';
@import 'common';

.finished {
	width:100%;
	height:100%;
	overflow:auto;
}
  span{
    font-style: normal;
  }

.finished .top{
	width:100%;
	height:40%;
	.img_info{
	width:100%;
	height:50%;
	display:flex;
	margin-top:10px;
	img{
	width:60px;
	height:60px;
	}
	justify-content:center;
	align-items:center;
	flex-direction:column;
	color:#23AEF1;
	p{
	margin-top:10px;
	}
	}

.info{
	width:100%;
	padding:0 10px;
	font-size:14px;
}

.btn_area{
	width:100%;
	height:30px;
	line-height:30px;
	display:flex;
	justify-content:space-around;
	align-items:center;
	margin-top:5px;
	span{
	padding:0 20px;
	font-size:12px;
	text-align:center;
	height:30px;
	line-height:30px;
	border-radius:5px;
	border:1px solid #23AEF1;
	color:#23AEF1;
	&.active{
	background:#23AEF1;
	color:#fff;
	}
	}
}

}

.space{
	width:100%;
	height:25px;
	background:#eee;
}

.order_list{
	padding:0;
	h3{
	width:100%;
	height:30px;
	line-height:30px;
	display:flex;
	padding-top:10px;
	justify-content:space-between;
	padding:0 10px;
	font-size:14px;
	.check{
	color:#ccc;
		.icon-jiantouzuo-copy{
		color:#ccc;
		}
	}
	}
}